= render 'commons/header'

.improve
  %h1 アプリの機能改善項目（ポートフォリオ限定）

  %h3
    以下内容は学習中につきまだ実装できておりませんが、順次改善していきます。

  %h3 ①  カテゴリー選択後から商品表示までに時間がかかる。
  %p　　カテゴリー選択から商品を取得するのに毎度スクレイピングが入ることが原因です。
  %p　　時間がかかることでユーザーの離脱リスクになるので改善する必要があります。

  %h3 ②  会員登録していないユーザーでも機能を利用できるよう修正
  %p　　現在はゲストログインから機能を試すことができますが、実際に公開した際には、
  %p　　アプリを試す　→　会員登録へ誘導するため実装する必要があると考えています。
  %p　　機能は以下項目を限定して使用いただきます。
  %p　　　・カテゴリーは一つのみ選択可＋メインカテゴリーのみ選択可
  %p　　　・過去の履歴が確認できない

  %h3 ③  セレクトボックス（カテゴリー選択画面） の修正
  %p　　ふるさと納税に慣れていない方は、カテゴリー選択時にどのようなカテゴリーがあるのかイメージがつきにくいと思うので、
  %p　　存在するカテゴリーの写真など、イメージがつきやすようセレクトボックスの下に一覧で表示したいと思います。

  %h3 ④  控除額算出のロジック
  %p　　現在は他のふるさと納税支援サイトの控除額の目安の表を参考に表示していますが、あくまでも目安で正確な数字ではありません。
  %p　　正確な控除額を算出する場合、所得税や住宅借入金などを考慮しユーザーにも多くの項目を入力させることになってしまい、初心者向けではないと考え現時点では実装を見送っています。

  %h3 ⑤  商品取得時のロジック（商品選択の比率の修正）
  %p　　現在は複数カテゴリーを選択した状態をスクレイピング元のリンク先として指定。そのページの人気ランキングから上位5つを取得するロジックとなっています。
  %p　　場合によってはユーザーが選択したにも関わらず上位5つから漏れるカテゴリーが出てきてしまう可能性があります。一定の比率で選ばれるよう設定する必要があります

  %h3 ⑥  スクレイピング元のサイトを複数から選べるようにする
  %p　　現在はスクレイピング元はさとふるのみですが、楽天など他のふるさと納税支援サイトから取得したいユーザーに対応できないので、
  %p　　スクレイピング元のサイトを選択できるようにしたいと考えています。

  %br/
  %br/
.back
  = link_to 'TOPへ戻る', root_path