.header
  .header_title
    ふるセレ
  .header_subtitle
    ふるさとセレクト

.income
  年収を入れてね
.family
  家族構成
.deduction
  控除額

.category
  .category_first
    1番
  .category_second
    2番
  .category_third
    3番


.select
  .select_category
    .select_category_first
      .select_category_first_image
        = image_tag 'article1.png'
          = link_to
      .select_category_first_name
    .select_category_second
      .select_category_second_image
        = image_tag 'article1.png'
      .select_category_second_name
    .select_category_third
      .select_category_third_image
        = image_tag 'article1.png'
      .select_category_third_name