.container
  .title
  〜ふるさと納税とは〜
  .content
    任意の地方自治体に対して寄付が行える制度です。
    ふるさと納税の寄附金は税金の還付・控除が受けられます。
    手続きをすると、最終的な実質負担額2,000円のみとなります。
    さらにお礼品として、自治体から特産品や宿泊券がもらえる制度です。
  .title
    〜何が良いのか〜
  .content
    １.様々な地域に寄付ができる
       ご自身の出身地に限らず全国の自治体に寄付ができる！
　２.寄付の使い道が選べる
　　まちづくりや復興支援など使い道を指定できる自治体も！
　３.お礼品がもらえる
　　応援した地域の特産品などが届く
    -# 　（丸で整理して入力したい）

  .title
    〜ステップ〜
  .content
    ステップ１
　　控除上限額を調べる
　ステップ２
　　自治体に寄付する
　ステップ３
　　控除手続きをする
