= render 'commons/header'

.category
  .category-title
    %h3 カテゴリーを１〜３つ選択してください
  .category-select-first
    = render 'category'
  -# .category-select-second
  -#   = render 'category'
  -# .category-select-third
  -#   = render 'category'

= link_to '結果ページへ', history_path(id: current_user.id)

= javascript_pack_tag 'history'