.footer
  %ul.footer-menu
    -# %li
    -#   = link_to 'サイトの使い方 |', usage_path, class: 'footer-btn'
    %li
      = link_to '利用規約 |', term_path, class: 'footer-btn'
    %li
      = link_to 'プライバシーポリシー |', privacy_path, class: 'footer-btn'
    %li
      = link_to 'お問い合わせ |', form_path, class: 'footer-btn'
    %li
      = link_to 'アプリ改善項目（ポートフォリオ限定）', improve_path, class: 'footer-btn'