.header
  .header_top
    .inner
      %p ふるさとセレクト
  .header_main
    .inner
      = link_to 'ふるセレ', root_path
      %i.fas.fa-utensils
      %i.fas.fa-fish
      %i.fas.fa-drumstick-bite

  .header_explanation
    = link_to select_path do
      .header_explanation_image
        = image_tag 'wakaba.png'
      .header_explanation_title
        %p ふるさと納税とは
