if value = '300万円'
  num = 1
elsif '350万円'
  num = 2
elsif '400万円'
  num = 3
elsif '450万円'
  num = 4
elsif '500万円'
  num = 5
elsif '550万円'
  num = 6
elsif '600万円'
  count = 7
elsif '650万円'
  count =8
elsif '700万円'
  count = 9
elsif '750万円'
  count = 10
elsif '800万円'
  count = 11
elsif '850万円'
  count = 12
elsif '900万円'
   = 13
elsif '950万円'
  14
elsif '1000万円'
  15
elsif '1200万円'
  16
elsif '1400万円'
  17
elsif '1600万円'
end