$base-color: #e74c3c;

.button{
  text-align: center;
  margin: 30px 0;
  display: block;
  .btn.secondary {
    width: 200px;
    // margin: 20px 0 0 20px;
    padding: 0.8em;
    text-decoration: none;
    color: $base-color;
    border: 2px solid $base-color;
    border-radius: 3px;
    // transition: .4s;
  }
  .btn.secondary:hover {
    background: $base-color;
    color: #fff;
  }
  .btn.primary {
    color: $base-color;
    text-decoration: none;
  }
}

.link-btn {
  text-decoration: none;
  font-weight: 800;
}
.link-btn:hover {
  opacity: 0.6;
}
