$text-color: #333333;

a{
  text-decoration: none;
  color: $text-color
}

.link {
  clear: both;
  margin-left: 20px;
  margin-bottom: 30px;
  ul{
    float: left;
    li{
      margin: 10px;
      list-style: none;
      i {
        font-size: 22px;
        font-weight: 900;
        color: #1d3994;
        font-weight: 900;
        // background: linear-gradient(transparent 90%,  #333333 70%);
      }
      i:hover{
        opacity: 0.6;
      }
    }
  }
}

.footer{
  clear: both;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #174a5c;
  ul.footer-menu li{
    display: inline;
    .footer-btn{
      color: white;
    }
    .footer-btn:hover{
      opacity: 0.6;
    }
  }
}

.privacy, .term, .improve {
  padding: 80px;
  h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 24px;
    margin-top: 18px;
  }
  p{
    font-size: 20px;
  }

}
