$text-color: #333333;

.header{
  margin-bottom: 50px;
  &-main {
    .inner {
      margin-left: 20px;
      background: #f7f3e7;
      padding: 10px;
      .nav {
        float: right;
        ul{
          margin: 0;
        }
        li{
          clear: both;
          list-style: none;
          display: inline-block;
          width: 18%;
          min-width: 90px;
          padding:0 10px;
        }
        a{
          text-decoration: none;
          color: #333;
          padding: 2px;
          text-align: center;
        }
        a:hover{
          color: #F33135;
        }
      }
    }
  }
  .tagline {
    float: left;
  }
}

// ふるさと納税とは。一旦削除
  //   &_explanation {
  //   float: right;
  //   text-align: center;
  //   margin:20px;
  //   img {
  //     width: 30px;
  //   }
  //   a {
  //     text-decoration: none;
  //     font-size: 10px;
  //     color: white;
  //   }
  // }

.header-title {
  clear: both;
  margin-left: 20px;
  a {
    font-size: 50px;
    text-decoration: none;
    color: $text-color;
    font-weight: 800;
    background: linear-gradient(transparent 70%, yellow 70%);
  }
  a:hover{
    opacity: 0.6;
  }
}
