.deduction{
  margin-left: 20px;
  font-size: 26px;
}

.result {
  margin: 0 20px;
  margin-top: 20px;
  &-title{
  }
  h3 {font-size: 25px;}
  h4 {font-size: 20px;}
  p {font-size: 16px;}
  ul{
    li{
      text-align: center;
      list-style: none;
      margin-bottom: 100px;
      .result-image{
        img{
          width: 400px;
        }
      }
    }
  }
}