$title-size: 30px;
$text-size: 22px;
$base-color: #e74c3c;


.title{
  clear: both;
  margin: 50px 0;
  padding: 0.4em 0.5em;
  background: #f4f4f4;
  border-left: solid 5px $base-color;
  border-bottom: solid 3px #d7d7d7;
  h3{
    margin: 0 20px;
    font-size: $title-size;
    span {
      background: linear-gradient(transparent 70%, yellow 70%);
    }
  }
}
.explanation{
  font-size: $text-size;
  img{
    width: 350px;
    float: left;
  }
  &-character{
    img{
      width: 200px;
      margin: -40px 30px;
    }
    float: left;
    p{
      width: 200px;
      margin: 0px 30px 30px 30px;
      text-align: center;
    }
  }
}

.sample {
  clear: both;
  .icon{
    text-align: center;
    i{
      font-size: 30px;
    }
  }
  p {
    text-align: center;
    clear: both;
    margin: 30px 0;
    font-size: $text-size;
  }
  .personal-image{
    text-align: center;
    img{
      width: 600px;
    }
  }
  .category-image{
    text-align: center;
    img{
      width: 600px;
    }
  }
  .history-image{
    text-align: center;
    img{
      height: 300px;
      object-fit: cover;
    }
  }
}

// ふるさと納税のポイント
.charm {
  &-content{
    img{
      width: 200px;
      float: left;
    }
    ul{
      list-style: none;
      li{
        float: left;
        .charm-item-title{
          margin: 0 0 0 0;
          p {
            clear: both;
            position: relative;
            padding: 5px 26px 5px 42px;
            background: #fff0d9;
            font-size: 20px;
            color: #2d2d2d;
            // margin-left: -33px;
            line-height: 1.3;
            border-bottom: solid 3px orange;
            z-index:-2;
            font-size: $text-size;
          }
          
          p:before {
            position: absolute;
            content: '';
            left: -2px;
            top: -2px;
            width: 0;
            height: 0;
            border: none;
            border-left: solid 40px white;
            border-bottom: solid 79px transparent;
            z-index: -1;
          }
          
          p:after {
            position: absolute;
            content: '';
            right: -3px;
            top: -7px;
            width: 0;
            height: 0;
            border: none;
            border-left: solid 40px transparent;
            border-bottom: solid 79px white;
            z-index: -1;
          }
        }
        .charm-item-text{
          margin-left: 100px;
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: $text-size;
        }
      }
    }
  }
}


.step {
  ul {
    padding: 0;
    p{
      margin-bottom: 50px;
    }
  }
  li {
    margin-bottom: 80px;
    list-style-type: none;
  }
  dd {
    margin-left: 0;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;

}
.step > li {
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}
.step > li .icon {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  color: #fff;
  background: rgb(107,144,219);
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
}
.step > li .icon::before {
  content: "";
  border: solid transparent;
  border-width: 8px;
  border-top-color: rgb(107,144,219);
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.step > li dl {
  padding: 30px 20px;
  margin: 0;
  border: 3px solid rgb(107,144,219);
  position: relative;
}
.step > li:not(:last-child) dl::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: inline-block;
  border-top: 4px solid rgb(102,213,233);
  border-right: 4px solid rgb(102,213,233);
  position: absolute;
  top: calc(50% - 14px);
  left: 104%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.step > li dl dt {
  font-size: 20px;
  font-weight: 600;
  color: rgb(107,144,219);
  -ms-flex-preferred-size: 20%;
  // flex-basis: 20%;
  margin-bottom: 1vh;
  text-align: center;
}

.comment{
  text-align: center;
  p{
    font-size: $text-size;
    margin-bottom: 5px;
  }
  i{
    font-size: 30px;
  }
}