$text-color: #333333;
$base-color: #e74c3c;
$back-ground-color: #ffffdf;
$text-size: 22px;

label{
  font-size: $text-size;
}
select{
  font-size: $text-size;
}

.previews{
  h3{
    font-size: 16px;
    color: gray;
    text-align: center;
  }
}

.personal {
  margin: 0 30px;
  clear: both;
  border: 3px solid $base-color;
  &-title{
    background-color: $base-color;
    font-size: $text-size;
    font-weight: bold;
    color: #fff;
  }
  &-form-group {
    padding: 36px 20px;
    background: $back-ground-color;
    font-size: $text-size;
    select{
      height: 42px;
      margin-bottom: 20px;
      width: 680px;
    }
  }
  p{
    margin-top: 10px;
    font-size: 15px;
  }
}

.category {
  margin: 50px 30px;
  clear: both;
  border: 3px solid $base-color;
  &-select{
    background-color: #ffffdf;
    padding: 10px 20px;
  }
  &-parent{
    float: left;
    clear: both;
  }
  &-title{
    background-color: $base-color;
    font-size: $text-size;
    font-weight: bold;
    color: #fff;
  }
  h3{
    font-size: 22px;
    margin-left: 5px;
  }
  select {
    margin: 5px;
    width: 420px;
    height: 35px;
    margin-bottom: 10px;
  }
  p{
    margin-top: 5px;
    margin-left: 10px;
  }
}

.sample {
  clear: both;
  .icon{
    text-align: center;
    i{
      font-size: 30px;
    }
  }
  p {
    text-align: center;
    clear: both;
    margin: 30px 0;
    font-size: $text-size;
  }
  .personal-image{
    text-align: center;
    img{
      width: 600px;
    }
  }
  .category-image{
    text-align: center;
    img{
      width: 600px;
    }
  }
  .history-image{
    text-align: center;
    img{
      height: 300px;
      object-fit: cover;
    }
  }
}

.links{
  margin-left: 20px;
}
// .personal {
//   &-form-group{
//   }
// }


