$text-color: #333333;
$base-color: #e74c3c;
$back-ground-color: #ffffdf;
$text-size: 22px;

label{
  font-size: $text-size;
}
select{
  font-size: $text-size;
}


.personal {
  margin: 0 30px;
  clear: both;
  border: 3px solid $base-color;
  &-title{
    background-color: $base-color;
    font-size: $text-size;
    font-weight: bold;
    color: #fff;
  }
  &-form-group {
    padding: 36px 20px;
    background: $back-ground-color;
    font-size: $text-size;
  }
}

.category {
  margin: 50px 30px;
  clear: both;
  border: 3px solid $base-color;
  &-title{
    background-color: $base-color;
    font-size: $text-size;
    font-weight: bold;
    color: #fff;
  }
  select {
    margin: 5px;
  }
}

.personal {
  &-form-group{
    select{
      margin-bottom: 20px;
    }
  }
}


