= render 'commons/header'

.category
  .category-title
    %h3 カテゴリーを１〜３つ選択してください
  .category-select
    .first
      = render 'category'
    .second
      = render 'category'
    .third
      = render 'category'
