= render 'commons/header'
%h3.deduction
  = "控除額：#{@deduction.deduction.to_s(:delimited)}円"
  
.category
  .category-title
    %h3 カテゴリーを１〜３つ選択してください
  .category-select
    .first
      = render 'category'
    -# .second
    -#   = render 'category'
    -# .third
    -#   = render 'category'
