= form_with model: @category, remote: true do |f|
  = f.label :category, 'カテゴリー'
  .category-parent
    = f.collection_select :category_id, @categories, :id, :name, include_blank: '選択してください', remote: true

  .category-child
    -# = f.collection_select :category_id, @category_details, :id, :name, include_blank: '選択してください', remote: true
    -# = f.collection_select :category_detail_id, @category_details.where(category_id: @history.category_id), :id, :name

  = f.submit '登録する', class: 'btn-primary', id: 'file-btn'