= render 'commons/header'

.category
  .category-title
    %h3 カテゴリーを１〜３つ選択してください
  .category-select-first
    = render 'category'

  -# .category-child
  -#   = f.collection_select :id, @category_details, :id, :name, include_blank: '選択してください', remote: true
    -# = f.collection_select :category_id, CategoryDetail.where(category_id: "5"), :id, :name
    -# = f.collection_select :category_id, @category_detail_list, :id, :name
    -# = f.collection_select :category_detail_id, @category_details.where(category_id: @history.category_id), :id, :name